.likelist{
  display: flex;
  width: 100%;
  

  .list-cont{
    flex: 4;


    .likelist-top{
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201,201,201, 0.47);
      padding: 10px;
      margin: 20px;
      h1{
          color: rgb(131, 126, 126);
          font-size: 30px;
      }
  }
}
}
.bottom-cont{
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201,201,201, 0.47);
        padding: 10px;
        margin: 20px;
        
        border-radius: 10px;
}

.datatable {
  margin-left: 30px;
  
  .datatableTitle{
    
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201,201,201, 0.47);
      padding: 10px;
      margin: 20px;
      h1{
          color: rgb(131, 126, 126);
          font-size: 30px;
      }
    
    .link{
      text-decoration: none;
      color: green;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid green;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.active {
      background-color: rgba(0, 128, 0, 0.05);
      color: green;
    }
    &.pending {
      background-color: rgba(255, 217, 0, 0.05);
      color: goldenrod;
    }
    &.passive {
      background-color: rgba(255, 0, 0, 0.05);
      color: crimson;
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px dotted rgba(0, 0, 139, 0.596);
      cursor: pointer;
    }
    
    .deleteButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      border: 1px dotted rgba(220, 20, 60, 0.6);
      cursor: pointer;
    }
  }

  .downloadButton {
      text-align: center;
      margin-top: 10px;
      font-size: 16px;
      
      .csv{
        text-decoration: none;
        color: white;
      }
      
      .btn-warning{
        width: 180px;
        padding: 10px;
        border: none;
        background-color: #14c974;
        font-weight: bold;
      
        margin-bottom: 14px;


        &:hover{
          color: black;
        }
    }
}

}

.user-list {
  
  background-color: #fff;
  margin-top: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
      margin: 20px;
    display: flex;
    border-radius: 10px;
    border: 0.5px solid rgb(219, 216, 216);
}
